$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Russo One', sans-serif;

:root {
	--main-color: #2194ff;
	--secondary-color: #f1f1f1;
	--primary-bg: #2d2d2d;
	--secondary-bg: rgba(33, 148, 255, 0.05);
}
