@use './base/vars' as *;

.faq {
	padding-block: 31px 40px;
	background: var(--secondary-bg);
}

.faq {
	h2 {
		text-align: start;
	}
}

.faq-title {
	margin-bottom: 27px;
	padding-left: 163px;
	@media (max-width: 1024px) {
		padding-left: 0px;
	}
	@media (max-width: 767px) {
		margin-bottom: 15px;
	}
}
