.header-weather {
	display: flex;
	column-gap: 34px;
	margin-bottom: 12px;
}
.header-weather__left {
}
.header-weather__icons {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.header-weather__text {
}
