@use './base/vars' as *;
.svg-moon {
	width: 20px;
	height: 20px;
}
.svg-right {
	width: 16px;
	height: 16px;
}
.svg-sun {
	width: 26px;
	height: 25px;
}

.svg-cloudy {
	width: 22px;
	height: 22px;
}

.svg-snowflake {
	width: 22px;
	height: 22px;
}
