@use './base/vars' as *;
.svg-moon {
	width: 20px;
	height: 20px;
}
.svg-right {
	width: 16px;
	height: 16px;
}
.svg-sun {
	width: 26px;
	height: 25px;
}

.svg-cloudy {
	width: 22px;
	height: 22px;
}

.svg-snowflake {
	width: 22px;
	height: 22px;
}

.decor-up-big {
	position: absolute;
	top: 11px;
	right: 9px;
	width: 377px;
	height: 44px;
}

.decor-down-big {
	position: absolute;
	right: 9px;
	bottom: 6px;
	width: 374px;
	height: 26px;
}

.hero-line {
	width: 85px;
	height: 90px;
}

.arrow-down {
	position: absolute;
	bottom: -137px;
	right: 47%;
	width: 99px;
	height: 64px;
	@media (max-width: 1024px) {
		right: 41%;
	}
}
