// .logo, a.logo, a.logo:link {
// 	font-size: 28px;
// 	font-weight: 700;
// 	text-decoration: none;

// 	a {
// 		text-decoration: none;
// 	}
// }

.logo {
	width: 296px;
	height: 98px;
	@media (max-width: 600px) {
		display: none;
	}
}
