@use './base/vars' as *;

.swiper {
	position: relative;
	max-width: 759px;
}
.swiper-slide {
	width: 759px;
	padding: 40px 59px 40px 40px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
	background-color: var(--secondary-color);
	border-radius: 40px;
	p + p {
		margin-top: 0;
	}
}

.swiper-slide__wrapper {
	display: flex;
	align-items: center;
	column-gap: 29px;
	@media (max-width: 767px) {
		flex-direction: column;
	}
}
.swiper-slide__content {
	padding-bottom: 19px;
	@media (max-width: 767px) {
		text-align: center;
		padding-bottom: 0;
	}
}
.swiper-slide__img {
	overflow: hidden;
	flex-shrink: 0;
	img {
		border-radius: 25px;
	}
	@media (max-width: 767px) {
		margin-bottom: 10px;
	}
}

.swiper-slide__name {
	margin-bottom: 4px;
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 24px;
	color: var(--main-color);
}
.swiper-slide__city {
	margin-bottom: 15px;
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 18px;
	color: var(--primary-bg);
}
.swiper-slide__text {
	color: var(--primary-bg);
	@media (max-width: 767px) {
		text-align: justify;
	}
}

.swiper-pagination-bullet {
	width: 61px;
	height: 18px;
	border-radius: 20px;
	background: rgba(241, 241, 241, 0.2);
	@media (max-width: 424px) {
		width: 55px;
	}
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	margin: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet:not(:last-child) {
	margin-right: 8px;
}

.swiper-pagination {
	position: static;
	padding-top: 23px;
}

.swiper-pagination-bullet-active {
	background: var(--main-color);
}

.swiper-button-next,
.swiper-button-prev {
	top: 46%;
}

.swiper-button-prev {
	left: 6px;
}
