@use './base/vars' as *;
.h1 {
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 64px;
	line-height: 0.98438;
	color: var(--main-color);
}

.h2 {
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 36px;
	color: var(--main-color);
	text-align: center;
}

.h3 {
	font-family: $secondary-font;
	font-weight: 400;
	font-size: 24px;
	color: var(--main-color);
}

.header-title {
	@media (max-width: 600px) {
		font-size: 42px;
	}
}

.price-title {
	margin-bottom: 78px;
	text-align: center;
	color: var(--main-color);
	@media (max-width: 1024px) {
		margin-bottom: 40px;
	}
}

.price-item__title {
	color: var(--secondary-color);
}

.advantages-title {
	margin-bottom: 24px;
	color: var(--secondary-color);
	@media (max-width: 424px) {
		font-size: 25px;
	}
}

.gas-order-title {
	margin-bottom: 35px;
}

.reviews-title {
	margin-bottom: 47px;
	color: var(--secondary-color);
}
