@use './base/vars' as *;

.faq {
	h2 {
		text-align: start;
		@media (max-width: 1024px) {
			text-align: center;
		}
		@media (max-width: 767px) {
			font-size: 20px;
		}
	}
}
.topic {
	padding: 24px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.topic + .topic {
	margin-top: -1px;
}

.topic__btn {
	display: flex;
	align-items: center;
	column-gap: 22px;
	@media (max-width: 550px) {
		column-gap: 15px;
	}
}

.topic__title {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	transition: color 0.3s ease-in;
	@media (max-width: 424px) {
		font-size: 13px;
	}
}
.topic__content {
	padding-left: 36px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-in;
}

.topic.topic--open {
	.topic__title {
		color: var(--main-color);
	}
}

.topic__content-padding {
	padding-top: 16px;
}

.faq__topics {
	padding-left: 32px;
}
