.none {
	display: none !important;
}

.visible-desktop {
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-scroll {
	overflow-y: hidden;
}

.active {
	background: var(--main-color);
	transition: all 0.3s ease-in;
	&:hover {
		background: var(--main-color);
	}
}
